<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>Online Users</h3>
            <ul>
                <li ng-repeat="account in onlineNameList track by account.username" ng-switch="sessionId!==account.sessionId">
                    <div ng-switch-when="false">{{ account.username }} (You)</div>
                    <a href="#!/chat/{{ account.username }}?receiverId={{ account.sessionId }}" ng-switch-when="true">
                        {{ account.username }}
                    </a>
                </li>
            </ul>
            <label for="enterUsernameForm">Enter username Form</label>
            <form id="enterUsernameForm">
                <div class="form-group">
                    <label for="username">Enter message</label>
                    <input type="text" name="username" id="username" ng-model="myUsername"/>
                    <br />
                    <button type="button" ng-click="saveUsername(myUsername)">
                        Save
                    </button>
                    <div ng-show="displayNote.savingError">{{ displayNote.savingError }}</div>
                    <div ng-show="displayNote.successMessage">{{ displayNote.successMessage }}</div>
                </div>
            </form>
        </div>
    </div>
</div>